@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  box-sizing: border-box;
  padding: 3vh;
  background-image: url(assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

.img img {
  border-radius: 100%;
  width: 150px;
  grid-column: 1;
  grid-row: 1;
}

.blur {
  filter: blur(10px);
  z-index: -99;
}

.img {
  display: grid;
  place-items: center;
  margin: 40px;
}
h1 {
  margin: auto;
}

#items {
  display: grid;
  place-items: center;
}
a {
  width: 500px;
  margin: 10px;
  text-decoration: none;
  color: black;
  user-select: none;
  height: 10vh;
}
.item {
  border: 5px solid pink;
  border-radius: 10px;
  background-color: rgba(255, 192, 203, 0.4);
  display: flex;
  font-size: 10px;
  width: 97%;
  height: 100%;
  transition-duration: 0.5s;
}

.item:hover {
  transform: scale(1.05);
  background-color: rgba(243, 199, 206, 0.7);
}
@media only screen and (max-width: 560px) {
  a {
    width: 100%;
  }
}

.item img {
  height: 80%;
  aspect-ratio: 1 / 1;
  margin: 10px;
}
